# Ignore the virtual environment
.venv/

new.py
# Ignore the database file (in the outer leave_management folder)
leave_management/db.sqlite3

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.log

*.env
sensitive_data.txt