{% extends "homepage.html" %}
{% block title %}Dashboard{% endblock title %}

{% block content %}

<h2>Dashboard</h2>
<p>Welcome, {{user.get_full_name}}</p>

<ul>
    <li><a href="{% url 'apply_leave' %}">Apply for Leave</a></li>
    <li><a href="{% url 'leave_status' %}">Previous Leave Applications</a></li>
    <li><a href="{% url 'password_change'%}">Change password</a></li>
</ul>
<hr>
<form method="post" action="{% url 'logout' %}" style="display:inline">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endblock content %}