{% extends "homepage.html" %}
{% block title %}All Employees{% endblock title %}
{% block content %}

<div class="header">
    <h1>Employee List</h1>
</div>
<div class="table-responsive pt-3">
    <table border="1" class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees%}
            <tr>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.designation}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<a href="/" class="btn btn-dark mt-4">Dashboard</a>

{% endblock content %}