<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Status</title>
</head>
<body>
    <h2>Your Leave Applications</h2>
    <table border="1">
        <tr>
            <th>Leave Type</th>
            <th>Leave Date</th>
            <th>Status</th>
            <th>Reason</th>
        </tr>
        {% for leave in leave_applications %}
        <tr>
            <td>{{ leave.leave_type}}</td>
            <td>{{ leave.leave_date}}</td>
            <td>{{ leave.status}}</td>
            <td>{{ leave.reason}}</td>
        </tr>
        {% endfor %}

    </table>

    <a href="{% url 'dashboard' %}">Return to dashboard</a>
</body>
</html>