{% extends "homepage.html" %}
{% block title %}Change Password{% endblock title %}

{% block content %}
<style>
    .card{
        color:white;
        background-color:rgb(90, 103, 103);
    }
    .btn{
        background-color:rgb(19, 193, 179);
        color:black;
    }
    .btn:hover{
        background-color:rgb(2, 29, 28);
        color:white;
    }
</style>
<div class="m-4">
    <div class="card shadow-lg text-start p-5">
    <h2 class="text-center header mb-4">Change Password</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div class="text-center">
                <button type="submit" class="btn">Change Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}